<div class="main-menu">
      <ion-view class="pane">
        <ion-content>
          <div class="row  top-margin">
		   <a href="nabakalebara-information.html" class="col col-90 title_nabakalebara">
		     <p> Naba&nbsp;kalebara  <i class="fa fa-info-circle"></i></p>
			 
		   </a><!--col-80 end-->
		  </div><!--title-nabakalebara end-->
		  
		  <div class="row">
		     <div class="col col-50 box_menu">
			  <a href="travel.html">
			    <div class="dashboard_item">
			      <i class="fa fa-plane"></i>
			     <p>Travel</p>
			   </div><!--dashboard_item end-->
			  </a>
			 </div><!--col-50 end-->
			 
			  <div class="col col-50 box_menu">
			    <a href="stay.html">
			     <div class="dashboard_item">
			     <i class="fa fa-home"></i>
			     <p>Stay</p>
			   </div><!--dashboard_item end-->
			   </a>
			 </div><!--col-50 end-->
		  </div><!--row end-->
		  
		    <div class="row">
		     <div class="col col-50 box_menu">
			 <a href="money.html">
			   <div class="dashboard_item">
			      <i class="fa fa-rupee"></i>
			     <p>Money</p>
			   </div><!--dashboard_item end-->
			  </a>
			 </div><!--col-50 end-->
			 
			  <div class="col col-50 box_menu">
			   <a href="events.html">
			     <div class="dashboard_item">
			      <i class="fa fa-users"></i>
			     <p>Events</p>
			   </div><!--dashboard_item end-->
			  </a>
			 </div><!--col-50 end-->
		  </div><!--row end-->
		  
		  
		    <div class="row">
		     <div class="col col-50 box_menu">
			  <a href="parking.html">
			   <div class="dashboard_item parking-icon">
			      <img src="img/parking-icon.png" />
			     <p>Parking</p>
			   </div><!--dashboard_item end-->
			   </a>
			 </div><!--col-50 end-->
			 
			  <div class="col col-50 box_menu">
			   <a href="contacts.html">
			     <div class="dashboard_item">
			     <i class="fa fa-book"></i>
			     <p> Emergency Contact</p>
			   </div><!--dashboard_item end-->
			  </a>
			 </div><!--col-50 end-->
		  </div><!--row end-->
		  
		 
			  <div class="row">
		     <div class="col col-50">
			  
			 </div><!--col-50 end-->
			 
			  <div class="col col-50">
			      <p class="powered-by">Powered by</p>
				 <div class="footer-logo"> <div class="footer-logo"> <img src="img/icici-bank.png" /> </div>
 </div>
			 </div><!--col-50 end-->
		  </div><!--row end-->
        </ion-content>
		 
      </ion-view>
   </div>