<div ng-init="">
<ion-view class="pane">
	<ion-content class="has-header">
		<div class="row">
		    <div class="col col-100">
			  	<div id="map-canvas" style="width: 100%; float:left;position:absolute!important;min-height:30em">

			  	</div>
			</div>
		</div>
		<div class="row" style="position:absolute !important;top:30em;">
			<div class="col col-50">
			</div>
			<div class="col col-50">
			  	<p class="powered-by">Powered by</p>
			  	<div class="footer-logo"> <img src="img/icici-bank.png" /> </div>
			</div>
	  </div>
	</ion-content>
</ion-view>
</div>