<div class="home_main" ng-controller="homeController">
      <ion-side-menus enable-menu-with-back-views="false">
        <ion-side-menu-content>
          <ion-nav-bar class="bar-positive">
            <ion-nav-back-button>
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
              <button class="button button-icon button-clear ion-navicon" menu-toggle="left"> 
              </button>
            </ion-nav-buttons>
		   <div class="logo"> <a href="#"> <img src="img/logo.png" /> </a> <span class="breadcrumb"> Home 
		      <div class="right-menubar">
			   <div class="signup"></div><!--signup end-->
			   <div class="notification"><i class="fa fa-ellipsis-v sign-in"></i> <span class="badge badge-assertive">3</span> </div><!--notification end-->
		    </div><!--right-menubar end-->
		   </span> 
		   </div> <!--logo end-->
          </ion-nav-bar> 
          <ion-nav-view name="menuContent"></ion-nav-view>
        </ion-side-menu-content> 
        <ion-side-menu side="left">
          <ion-header-bar class="bar-assertive">
            <h1 class="title">Menu</h1>
          </ion-header-bar>
          <ion-content overflow-scroll="true" class="has-header">
            <ul class="list">
              <!-- Note each link has the 'menu-close' attribute so the menu auto closes when clicking on one of these links -->
			  <li> <a href="index.html" class="item" menu-close>  <span class="menu-icon"> <i class="fa fa-qrcode"></i> </span> Dashboard </a> </li>
			  <li> <a href="#travel" class="item" menu-close> <span class="menu-icon"> <i class="fa fa-plane"></i> </span> Travel </a> </li>
              <li> <a href="#stay" class="item" menu-close>   <span class="menu-icon"> <i class="fa fa-home"></i> </span>Stay </a> </li>
              <li> <a href="#money" class="item" menu-close>  <span class="menu-icon"> <i class="fa fa-inr"></i> </span> Money </a> </li>
			  <li> <a href="#events" class="item" menu-close> <span class="menu-icon"> <i class="fa fa-users"></i> </span> Events </a> </li>
			  <li> <a href="parking.html" class="item" menu-close> <span class="menu-icon"> <img src="img/icon-car-parking.png"/>Parking </span> </a> </li>
			  <li> <a href="contacts.html" class="item" menu-close> <span class="menu-icon"> <i class="fa fa-book"></i> Emergency Contact </span> </a> </li>
			  <li> <a href="route-map.html" class="item" menu-close> <span class="menu-icon"> <i class="fa fa-map-marker"></i> Route Map </span> </a> </li>
			  <li> <a href="template-schedule.html" class="item" menu-close> <span class="menu-icon"> <i class="fa fa-file-text"></i> </span>  About Nabkalebara </a> </li>
			  <li> <a href="template-schedule.html" class="item" menu-close> <span class="menu-icon"> <i class="fa fa-calendar"></i> </span> Temple Schedule </a></li> 
            </ul>
          </ion-content>
        </ion-side-menu>
      </ion-side-menus> 
	  <!-- <ng-include src="'modules/home/views/partials/mainMenu.html'" class="wrapper block"></ng-include> -->
</div>