<div>
	<ion-view class="pane">
	        <ion-content class="has-header">
			  <div class="row money-dashboard contacts-dashboard temple-schedule" ng-repeat="noti in notifications">
				 <div class="col col-100"> 
				   <div>
				      <h2>{{noti.title}}</h2>
					  <p class="schedule-desc">{{noti.detail}}</p>
				   </div><!--col-50 end-->
				 </div>
			  </div><!--row end-->
			  <div class="row">
			     <div class="col col-50">
				  
				 </div><!--col-50 end-->
				 
				  <div class="col col-50">
				      <p class="powered-by">Powered by</p>
					  <div class="footer-logo"> <img src="img/icici-bank.png" /> </div>

				 </div><!--col-50 end-->
			  </div><!--row end-->
			  
	        </ion-content>

	       <!--  <ion-content class="has-header">
        		<img  src="img/comingSoon.png" class="m-t-xl"/>
        	</ion-content> -->


	      </ion-view>
	    </div>
