<div>
      <ion-view class="pane">
        <ion-content>
		  <div class="row  top-margin">
		   <div class="col col-100">
		    <form class="item item-input list list-inset ng-pristine ng-valid">
			 <label class="item item-input input-date">
               <span class="input-label"> <i class="fa fa-calendar"></i> </span>
			    <input type="date" />
			  </label>
			</form>
		 </div><!--col col-100 end-->
		   
		  </div><!--title-nabakalebara end-->
		  <div class="row money-dashboard event-price">
		     <a href="event-details.html" class="col col-25">
			   <div>
			       <img src="img/event.jpg" />
			    </div><!--col-33 ned-->
			 </a>
			  
			 <a href="event-details.html" class="col col-60"> 
			   <div>
			      <h2>Event Name</h2>
				   <h2>Location</h2>
			   </div><!--col-50 end-->
			 </a>
			   
			   <div  class="col col-20"> 
			    <a href="event-details.html" class="col col-15">
			       <div class="atm-number">
				    <h2 class="free"> Free</h2>
				   </div><!--atm-number end-->
			   </a><!--col-50 end-->
			 </div>
			 
		  </div><!--row end-->
		  
		   <div class="row money-dashboard event-price">
		     <a href="event-details.html" class="col col-25">
			   <div>
			       <img src="img/event-odishi.jpg" />
			    </div><!--col-33 ned-->
			 </a>
			  
			 <a href="event-details.html" class="col col-60">
			   <div>
			      <h2>Odishi Dance</h2>
				  <h2>Puri Mandir</h2>
			   </div><!--col-50 end-->
			  </a>
			  
			  <a href="event-details.html" class="col col-20">
			    <div>
			       <div class="atm-number">
				    <h2><span> Rs</span> 99 </h2>
				   </div><!--atm-number end-->
			   </div><!--col-50 end-->
			  </a>
			 
			 
		  </div><!--row end-->
		  
		   <div class="row money-dashboard event-price">
		     <a href="event-details.html" class="col col-25">
			   <div>
			       <img src="img/event-kalia.jpg" />
			    </div><!--col-33 ned-->
			  </a>
				
			 <a href="event-details.html" class="col col-60"> 
			   <div>
			      <h2>Sand Art</h2>
				  <h2>Puri Beach</h2>
			   </div><!--col-50 end-->
			  </a>
			   
			  <a href="event-details.html" class="col col-20">
			    <div>
			       <div class="atm-number">
				    <h2 class="free"> Free </h2>
				   </div><!--atm-number end-->
			   </div><!--col-50 end-->
			  </a>
			 
			 
		  </div><!--row end-->
		  
		   <div class="row money-dashboard event-price">
		    <a href="event-details.html" class="col col-25">
			   <div>
			       <img src="img/event-bharat.jpg" />
			    </div><!--col-33 ned-->
			</a>
			
			 <a href="event-details.html" class="col col-60">
			   <div>
			      <h2>Bharatnatyam </h2>
				  <h2>Puri road </h2>
			   </div><!--col-50 end-->
			 </a>
			   
			   <a href="event-details.html" class="col col-20">
			    <div>
			       <div class="atm-number">
				    <h2> <span> Rs</span> 25 </h2>
				   </div><!--atm-number end-->
			   </div><!--col-50 end-->
			  </a>
			 
		  </div><!--row end-->
		  
		  <div class="row">
		     <div class="col col-50">
			  
			 </div><!--col-50 end-->
			 
			  <div class="col col-50">
			      <p class="powered-by">Powered by</p>
				  <div class="footer-logo"> <img src="img/icici-bank.png" /> </div>

			 </div><!--col-50 end-->
		  </div><!--row end-->
		  
        </ion-content>
      </ion-view>
   </div>