<div>
      <ion-view class="pane">
        <ion-content>
		  <div class="row  top-margin">
		   <div class="col col-100">
		    <form class="item item-input list list-inset ng-pristine ng-valid">
			 <label class="item item-input input-date">
               <span class="input-label"> <i class="fa fa-calendar"></i> </span>
			    <input type="date" />
			  </label>
			</form>
		 </div><!--col col-100 end-->
		   
		  </div><!--title-nabakalebara end-->
		  <div class="row money-dashboard event-price" ng-repeat="option in eventOptionList">
		     <a href="{{option.detailLink}}" class="col col-25">
			   <div>
			       <img src="{{option.icon}}" />
			    </div><!--col-33 ned-->
			 </a>
			  
			 <a href="{{option.detailLink}}" class="col col-60"> 
			   <div>
			      <h2>{{option.eventName}}</h2>
				   <h2>{{option.eventLocation}}</h2>
			   </div><!--col-50 end-->
			 </a>
			   
			   <div  class="col col-20"> 
			    <a href="event-details.html" class="col col-15">
			       <div class="atm-number">
				    <h2 class="free"> Free</h2>
				   </div><!--atm-number end-->
			   </a><!--col-50 end-->
			 </div>
			 
		  </div><!--row end-->
		  
		   
		  
		  <div class="row">
		     <div class="col col-50">
			  
			 </div><!--col-50 end-->
			 
			  <div class="col col-50">
			      <p class="powered-by">Powered by</p>
				  <div class="footer-logo"> <img src="img/icici-bank.png" /> </div>

			 </div><!--col-50 end-->
		  </div><!--row end-->
		  
        </ion-content>
      </ion-view>
   </div>