<ion-view class="pane">
        <ion-content>
		  <div class="row enter-amount">
		         <form class="col col-100">
                    <input type="text" placeholder="Enter Amount here..." />
				 </form>
		  </div><!--row end-->
		   <div class="row">
		     <div class="col col-50">
			   <label class="item item-input item-select">
					<div class="input-label">
					  USD - US Dollar
					</div>
					<select>
					  <option> USD - US Dollar</option>
					  <option selected>Euro </option>
					  <option>eur</option>
					  <option>rmb</option>
					  <option>btc</option>
					  <option>INR</option>
					  
					</select>
				  </label>
			 </div><!--col-50 end-->
			 <div class="col col-50"> 
			    <label class="item item-input item-select">
					<div class="input-label">
					 INR - Indian rupee
					</div>
					<select>
					  <option> USD - US Dollar</option>
					  <option>Euro </option>
					  <option>eur</option>
					  <option>rmb</option>
					  <option>btc</option>
					  <option selected>INR</option>
					</select>
				  </label>
			 </div><!--col-50 end-->
		  </div><!--row end-->
		
		  <div class="row box_menu convert_main">
		     
		  </div><!--row end-->
		  
		  
		    <div class="row box_menu">
		      <div class="col col-20">
			  </div><!--col-50 end-->
			   <div class="col col-60">
			     <div class="convert"> <i class="fa fa-share-square-o"></i> Convert </div>
			  </div><!--col-50 end-->
			   <div class="col col-20">
			  </div><!--col-50 end-->
		  </div><!--row end-->
		  
		  
		
		    <div class="row convert_result">
		      <div class="col col-45">
			     <h1>1.00 USD </h1>
				    <h1 class="us-dollar">Us Dollar </h1>
					 <h1 class="usd-rate"> 1 USD = 62.3465 INR</h1>
			  </div><!--col-50 end-->
			   <div class="col col-10">
			    <p> =</p> <p> <i class="fa fa-arrows-h"></i> </p>
				
			  </div><!--col-50 end-->
			   <div class="col col-45">
			     <h1>62.3 INR</h1>
				  <h1 class="indian-rupee">Indian rupee</h1>
				   <h1 class="usd-rate"> 1 INR = 0.0160394 USD</h1>
			  </div><!--col-50 end-->
		  </div><!--row end-->
		  
		  <div class="row">
		     <div class="col col-50">
			 </div><!--col-50 end-->
			 
			  <div class="col col-50">
			      <p class="powered-by">Powered by</p>
				  <div class="footer-logo"> <img src="img/icici-bank.png" /> </div>

			 </div><!--col-50 end-->
		  </div><!--row end-->
		  
        </ion-content>
      </ion-view>