<ion-view class="pane">
        <ion-content class="has-header">
		  <!-- <div class="row enter-amount">
		         <form class="col col-100">
                    <input type="text" placeholder="Enter Amount here..." />
				 </form>
		  </div> --><!--row end-->
		   <div class="row">
		     <div class="col col-50">
			   <label class="item item-input item-select currency_converter" >
					<div class="input-label">
					  <!-- USD - US Dollar -->
					  {{sourceCurrency.code}}
					</div>
					<select class="currency_converter" ng-options="curr.code for curr in currencies" ng-model="sourceCurr" ng-change="onSelectCurr(sourceCurr,0)">
					  <!-- <option> USD - US Dollar</option>
					  <option selected>Euro </option>
					  <option>eur</option>
					  <option>rmb</option>
					  <option>btc</option>
					  <option>INR</option> -->
					  
					</select>
				  </label>
			 </div><!--col-50 end-->
			 <div class="col col-50"> 
			    <label class="item item-input item-select currency_converter">
					<div class="input-label">
					 <!-- INR - Indian rupee -->
					 {{convertCurrency.code}}
					</div>
					<select class="currency_converter" ng-options="dest.code for dest in currencies" ng-model="destCurr" ng-change="onSelectCurr(destCurr,1)">
					  <!-- <option> USD - US Dollar</option>
					  <option>Euro </option>
					  <option>eur</option>
					  <option>rmb</option>
					  <option>btc</option>
					  <option selected>INR</option> -->
					</select>
				  </label>
			 </div><!--col-50 end-->
		  </div><!--row end-->
		
		  <div class="row box_menu convert_main">
		     
		  </div><!--row end-->
		  
		  
		    <div class="row box_menu">
		      <div class="col col-20">
			  </div><!--col-50 end-->
			   <div class="col col-60">
			     <div class="convert" ng-click="onConvertCurrency()"> <i class="fa fa-share-square-o"></i> Convert </div>
			  </div><!--col-50 end-->
			   <div class="col col-20">
			  </div><!--col-50 end-->
		  </div><!--row end-->
		  
		  
		
		    <div class="row convert_result" ng--show="showResult">
		      <div class="col col-45">
			     <h1>1.00 {{sourceCurrency.code}} </h1>
				    <h1 class="us-dollar">{{sourceCurrency.code}} </h1>
					 <h1 class="usd-rate"> 1 {{sourceCurrency.code}} = {{convertCurrencyValue}} {{convertCurrency.code}}</h1>
			  </div><!--col-50 end-->
			   <div class="col col-10">
			    <p> =</p> <p> <i class="fa fa-arrows-h"></i> </p>
				
			  </div><!--col-50 end-->
			   <div class="col col-45">
			     <h1>{{convertCurrencyValue}} {{convertCurrency.code}}</h1>
				  <h1 class="indian-rupee">{{convertCurrency.code}}</h1>
				   <h1 class="usd-rate"> 1 {{convertCurrency.code}} = {{reverseConvertCurrencyValue}} {{sourceCurrency.code}}</h1>
			  </div><!--col-50 end-->
		  </div><!--row end-->
		  
		  <div class="row">
		     <div class="col col-50">
			 </div><!--col-50 end-->
			 
			  <div class="col col-50">
			      <p class="powered-by">Powered by</p>
				  <div class="footer-logo"> <img src="img/icici-bank.png" /> </div>

			 </div><!--col-50 end-->
		  </div><!--row end-->
		  
        </ion-content>
      </ion-view>