<div>
      <<ion-view class="pane">
        <ion-content>
		 
		  <div class="row money-dashboard money">
		     <a href="icici-atm.html"  class="col col-25">
			   <div>
			       <img src="img/atm.png" />
			    </div><!--col-33 ned-->
			 </a>
			  
			 <a href="icici-atm.html"  class="col col-75"> 
			   <div>
			      <h2>Nearest ATM</h2>
			   </div><!--col-50 end-->
			 </a>
			   
		  </div><!--row end-->
		  
		   <div class="row money-dashboard money">
		     <a href="icici-branches.html" class="col col-25">
			   <div>
			       <img src="img/branches.png" />
			    </div><!--col-33 ned-->
			 </a>
			  
			 <a href="icici-branches.html" class="col col-70">
			   <div>
			      <h2>Branches</h2>
			   </div><!--col-50 end-->
			  </a>
		  </div><!--row end-->
		  
		   <div class="row money-dashboard money">
		     <a href="foreign-exchange.html"  class="col col-25">
			   <div>
			       <img src="img/fund-transfer.png" />
			    </div><!--col-33 ned-->
			  </a>
				
			 <a href="foreign-exchange.html"  class="col col-70"> 
			   <div>
			      <h2>Foreign Exchange</h2>
			   </div><!--col-50 end-->
			  </a>
			   
		  </div><!--row end-->
		  
		   <div class="row money-dashboard money">
		    <a href="icici-exchange-rate.html"  class="col col-25">
			   <div>
			       <img src="img/exchange-rate.png" />
			    </div><!--col-33 ned-->
			</a>
			
			 <a href="icici-exchange-rate.html"  class="col col-70">
			   <div>
			      <h2>Currency Converter</h2>
			   </div><!--col-50 end-->
			 </a>
			  
		  </div><!--row end-->
		  
		  <div class="row">
		     <div class="col col-50">
			  
			 </div><!--col-50 end-->
			 
			  <div class="col col-50">
			      <p class="powered-by">Powered by</p>
				  <div class="footer-logo"> <img src="img/icici-bank.png" /> </div>

			 </div><!--col-50 end-->
		  </div><!--row end-->
		  
        </ion-content>
      </ion-view>
   </div>