<div id='flight-list' ng-init="getFlightDetails()">
	<!-- <ng-include src="'modules/home/views/partials/sideMenu.html'" class="wrapper block"></ng-include> -->

	<ion-view class="pane">
        <ion-content>
		
		 <div class="row  top-margin">
     	   <div class="col col-50">
		     <p class="map-start"> From </p>
		    <form class="item item-input list list-inset">
			 <i class="icon ion-search placeholder-icon"></i>
			  <input type="text" placeholder="Source" ng-model="searchFlight.source"/>
			</form>
		   </div>		   
		   <div class="col col-50">
		     <p class="map-start"> To </p>
		    <form class="item item-input list list-inset">
			 <i class="icon ion-search placeholder-icon"></i>
			  <input type="text" placeholder="Destination" ng-model="searchFlight.destination"/>
			</form>
		   </div>
		  </div>
		  <div class="row money-dashboard">
		   <div class="icici-branchlist" style="width:50% !important">
		     <label class="item item-input item-select">
              <div class="input-label">
              Day
              </div>
             <select ng-model="searchFlight.byDay">
             	<option ng-selected="true" value="">Select Day</option>
                <option ng-repeat="day in days" value="{{day}}" >{{day}}</option>
             </select>

           </label>
           <button class="default" ng-click="serchFlight()">Search</button>
		  </div>
		  </div>
		   
		  <div class="row money-dashboard contacts-dashboard train-details" ng-repeat="flight in flightDetails">
		    <div class="col col-50">
			   <h2>{{flight.FlightName}}</h2>
			   <ul>
			      <li><i class="fa fa-clock-o"></i>{{flight.StartsAt}}</li>
			      <li><i class="fa fa-plane"></i>{{flight.FromAirport}}</li>
			      <li><i class="fa fa-list-alt"></i><span class="day disabled-day"> S </span><span class="day"> M </span><span class="day disabled-day"> T </span><span class="day"> W </span><span class="day disabled-day"> T </span><span class="day"> F </span><span class="day disabled-day"> S </span></li>
			   </ul>
			</div>
			<div class="col col-50">
			  <h2>{{flight.FlightNumber}}</h2>
			    <ul>
			      <li><i class="fa fa-clock-o"> </i>{{flight.ReachesAt}}</li>
			      <li><i class="fa fa-plane"></i>{{flight.ToAirport}}</li>
			   </ul>
			</div> 
		  </div>		  
        </ion-content>
      </ion-view>
</div>