<div id="traffic-in-normal-days">
	<!-- <ng-include src="'modules/home/views/partials/sideMenu.html'" class="wrapper block"></ng-include> -->
	<ion-view class="pane">
        <ion-content>
		  <div class="row ">
		   <div class="row box_menu">
			 <div class="parking traffic-in-holidays">
		       <a href="buses.html"  class="col col-20">
			   <div>
			     <i class="fa fa-car"></i>
			    </div><!--col-33 ned-->
			 </a>
			 <a href="buses.html"  class="col col-80">
			   <div>
			      <h2 class="holiday">  Buses</h2>
			   </div><!--col-50 end-->
			 </a>
		  </div><!--box-menu end-->
	    </div><!--Parking end-->
	 </div><!--row end-->
		  
      <div class="row ">
		   <div class="row box_menu">
			 <div class="parking traffic-in-holidays">
		       <a href="buses.html"  class="col col-20">
			   <div>
			     <i class="fa fa-taxi"></i>
			    </div><!--col-33 ned-->
			 </a>
			 <a href="buses.html"  class="col col-80">
			   <div>
			      <h2 class="holiday"> Tourist Buses </h2>
			   </div><!--col-50 end-->
			 </a>
		  </div><!--box-menu end-->
	    </div><!--Parking end-->
	 </div><!--row end-->
	 
	  <div class="row ">
		   <div class="row box_menu">
			 <div class="parking traffic-in-holidays">
		       <a href="buses.html"  class="col col-20">
			   <div>
			     <i class="fa fa-taxi"></i>
			    </div><!--col-33 ned-->
			 </a>
			 <a href="buses.html"  class="col col-80">
			   <div>
			      <h2 class="holiday">Heavy/Medium Vehicle</h2>
			   </div><!--col-50 end-->
			 </a>
		  </div><!--box-menu end-->
	    </div><!--Parking end-->
	 </div><!--row end-->
	 
	 <div class="row ">
		   <div class="row box_menu">
			 <div class="parking traffic-in-holidays">
		       <a href="buses.html"  class="col col-20">
			   <div>
			     <i class="fa fa-taxi"></i>
			    </div><!--col-33 ned-->
			 </a>
			 <a href="buses.html"  class="col col-80">
			   <div>
			      <h2 class="holiday">Town Bus /Small City Bus</h2>
			   </div><!--col-50 end-->
			 </a>
		  </div><!--box-menu end-->
	    </div><!--Parking end-->
	 </div><!--row end-->
	 
	  <div class="row ">
		   <div class="row box_menu">
			 <div class="parking traffic-in-holidays">
		       <a href="buses.html"  class="col col-20">
			   <div>
			     <i class="fa fa-taxi"></i>
			    </div><!--col-33 ned-->
			 </a>
			 <a href="buses.html"  class="col col-80">
			   <div>
			      <h2 class="holiday">Light Vehicles (Car/Sumo/Bolero/Scorpio)</h2>
			   </div><!--col-50 end-->
			 </a>
		  </div><!--box-menu end-->
	    </div><!--Parking end-->
	 </div><!--row end-->
	 
	  <div class="row ">
		   <div class="row box_menu">
			 <div class="parking traffic-in-holidays">
		       <a href="buses.html"  class="col col-20">
			   <div>
			     <i class="fa fa-taxi"></i>
			    </div><!--col-33 ned-->
			 </a>
			 <a href="buses.html"  class="col col-80">
			   <div>
			      <h2 class="holiday">Auto Rickshaw (Three Wheelers)</h2>
			   </div><!--col-50 end-->
			 </a>
		  </div><!--box-menu end-->
	    </div><!--Parking end-->
	 </div><!--row end-->
		  
	
	 <div class="row ">
		   <div class="row box_menu">
			 <div class="parking traffic-in-holidays">
		       <a href="buses.html"  class="col col-20">
			   <div>
			     <i class="fa fa-taxi"></i>
			    </div><!--col-33 ned-->
			 </a>
			 <a href="buses.html"  class="col col-80">
			   <div>
			      <h2 class="holiday">Two Wheelers </h2>
			   </div><!--col-50 end-->
			 </a>
		  </div><!--box-menu end-->
	    </div><!--Parking end-->
	 </div><!--row end-->
		  
		  
		  <div class="row">
		     <div class="col col-50">
			  
			 </div><!--col-50 end-->
			 
			  <div class="col col-50">
			      <p class="powered-by">Powered by</p>
				  <div class="footer-logo"> <img src="img/icici-bank.png" /> </div>

			 </div><!--col-50 end-->
		  </div><!--row end-->
		  
        </ion-content>
      </ion-view>
</div>