<div id="traffic-details">
	<ng-include src="'modules/home/views/partials/sideMenu.html'" class="wrapper block"></ng-include>
	<ion-view class="pane">
        <ion-content>
			<div class="row ">
			   	<div class="row box_menu">
					<div class="parking traffic-in-holidays buses">
				      	<p> 
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
						</p>
				   	</div>
		    	</div>
		 	</div>	  
		  	<div class="row">
				<div class="col col-50">
					<p class="powered-by">Powered by</p>
					<div class="footer-logo"><img src="img/icici-bank.png" /></div>
				</div>
		  	</div>
        </ion-content>
      </ion-view>
</div>