<div id="traffic-details" ng-init="fetchInformation()">
	<ion-view class="pane">
        <ion-content>
			<div class="row ">
			   	<div class="row box_menu">
					<div class="parking traffic-in-holidays buses">
				      	<p> 
				      		{{information}}
						</p>
				   	</div>
		    	</div>
		 	</div>	  
		  	<div class="row">
				<div class="col col-50">
					<p class="powered-by">Powered by</p>
					<div class="footer-logo"><img src="img/icici-bank.png" /></div>
				</div>
		  	</div>
        </ion-content>
      </ion-view>
</div>