<div id='train-list' ng-init="fetchTrainDetails()">
	<!-- <ng-include src="'modules/home/views/partials/sideMenu.html'" class="wrapper block"></ng-include> -->
	<ion-view class="pane">
        <ion-content class="has-header">		
		 <div class="row  top-margin">
     	   <div class="col col-50">
		     <p class="map-start"> From </p>
		    <form class="item item-input list list-inset">
			 <!-- <i class="icon ion-search placeholder-icon"></i>
			  <input type="text" placeholder="Source" ng-model="searchVal.sourceCity"/> -->
			  <select ng-model="searchVal.sourceCity" disabled>
             	<option ng-selected="true" value="puri">Puri</option>
                <!-- <option ng-repeat="city in cities" value="{{city.cityName}}" >{{city.cityName}}</option> -->
             </select>
			</form>
		   </div>
		   
		   <div class="col col-50">
		     <p class="map-start"> To </p>
		    <form class="item item-input list list-inset">
			 <!-- <i class="icon ion-search placeholder-icon"></i>
			  <input type="text" placeholder="Destination" ng-model="searchVal.destinationCity"/> -->
			 <select ng-model="searchVal.destinationCity">
             	<option ng-selected="true" value="">Select Day</option>
                <option ng-repeat="city in cities" value="{{city.cityName}}" >{{city.cityName}}</option>
             </select>
			</form>
		   </div>
		  </div>
		 <div class="row money-dashboard">
		   <div class="icici-branchlist">
		     <label class="item item-input item-select">
              <div class="input-label">
              Day
              </div>
             <select ng-model="searchVal.byDay">
             	<option ng-selected="true" value="">Select Day</option>
                <option ng-repeat="day in days" value="{{day}}" >{{day}}</option>
             </select>

           </label>
          
		  </div>
		  </div>
		  <div class="row">
		  	   <div class="col col-50">
		  	   	   <button class="button" ng-click="serchTrain()">Search</button>
		  	   </div><!--col-50 end-->
		  	<div class="col col-50">
              <button class="button" ng-click="bookIRCTC()">Book Ticket</button>
          </div>

		  </div>
		   
		    <div class="row money-dashboard contacts-dashboard train-details" ng-repeat="train in trainDetails">
			  <div class="col col-50">
			    <h2 ng-click="gotoLink(train.WebLink)"><u>{{train.TrainName}}</u></h2>
			      <ul>  
			         <li><i class="fa fa-clock-o"></i>{{train.StartAt}}</li>
			         <li><i class="fa fa-road"></i>{{train.FromStation}}</li>
			         <li><i class="fa fa-list-alt"></i><span class="day" ng-class="{'disabled-day':train.Sunday == 0}"> S </span><span class="day" ng-class="{'disabled-day':train.Monday == 0}"> M </span><span class="day" ng-class="{'disabled-day':train.Tuesday == 0}"> T </span><span class="day" ng-class="{'disabled-day':train.Wednesday == 0}"> W </span><span class="day" ng-class="{'disabled-day':train.Thursday == 0}"> T </span><span class="day" ng-class="{'disabled-day':train.Friday == 0}"> F </span><span class="day" ng-class="{'disabled-day':train.Saturday == 0}"> S </span></li>
			     </ul>
			    </div>
			    <div class="col col-50">
				    <h2>{{train.TrainNumber}}</h2>
				    <ul>
				       <li><i class="fa fa-clock-o"></i>{{train.ReachesAt}}</li>
				       <li> <i class="fa fa-road"></i>{{train.ToStation}}</li>
				    </ul>
			    </div>
		  	</div>
		  	<div class="row">
		     <div class="col col-50">
			  
			 </div><!--col-50 end-->
			 
			  <div class="col col-50">
			      <p class="powered-by">Powered by</p>
				 <div class="footer-logo"> <div class="footer-logo"> <img src="img/icici-bank.png" /> </div>
 </div>
			 </div><!--col-50 end-->
		  </div><!--row end-->		  
        </ion-content>
      </ion-view>
</div>