<div id='train-list'>
	<ng-include src="'modules/home/views/partials/sideMenu.html'" class="wrapper block"></ng-include>
	
	<ion-view class="pane">
        <ion-content>		
		 <div class="row  top-margin">
     	   <div class="col col-50">
		     <p class="map-start"> From </p>
		    <form class="item item-input list list-inset">
			 <i class="icon ion-search placeholder-icon"></i>
			  <input type="text" placeholder="Source" />
			</form>
		   </div>
		   
		   <div class="col col-50">
		     <p class="map-start"> To </p>
		    <form class="item item-input list list-inset">
			 <i class="icon ion-search placeholder-icon"></i>
			  <input type="text" placeholder="Destination" />
			</form>
		   </div>
		  </div>
		   
		    <div class="row money-dashboard contacts-dashboard train-details" ng-repeat="train in trainDetails">
			  <div class="col col-50">
			    <h2>{{train.trainName}}</h2>
			      <ul>  
			         <li><i class="fa fa-clock-o"></i>{{train.startAt}}</li>
			         <li><i class="fa fa-road"></i>{{train.fromStation}}<span>(Sunday, Monday, Tuesday)</span></li>
			     </ul>
			    </div>
			    <div class="col col-50">
				    <h2 class="transparent">.</h2>
				    <ul>
				       <li><i class="fa fa-clock-o"></i>{{train.reachesAt}}</li>
				       <li> <i class="fa fa-road"></i>{{train.toStation}}</li>
				    </ul>
			    </div>
		  	</div>		  
        </ion-content>
      </ion-view>
</div>