<div id='train-list'>
	<ng-include src="'modules/home/views/partials/sideMenu.html'" class="wrapper block"></ng-include>
	
	<ion-view class="pane">
        <ion-content>		
		 <div class="row  top-margin">
     	   <div class="col col-50">
		     <p class="map-start"> From </p>
		    <form class="item item-input list list-inset">
			 <i class="icon ion-search placeholder-icon"></i>
			  <input type="text" placeholder="Source" />
			</form>
		   </div><!--col-50 end-->
		   
		   <div class="col col-50">
		     <p class="map-start"> To </p>
		    <form class="item item-input list list-inset">
			 <i class="icon ion-search placeholder-icon"></i>
			  <input type="text" placeholder="Destination" />
			</form>
		   </div><!--col-50 end-->
		  </div><!--row end-->
		   
		     <div class="row money-dashboard contacts-dashboard train-details">
			  <div class="col col-50">
			    <h2>Neel Express</h2>
			      <ul>  
			         <li><i class="fa fa-clock-o"></i>09:15</li>
			         <li> <i class="fa fa-road"></i> Hyderabad </li>
			     </ul>
			    </div>
			   <div class="col col-50">
			      <h2 class="transparent">.</h2>
			     <ul>
			      <li><i class="fa fa-clock-o"></i>18:05</li>
			       <li> <i class="fa fa-road"></i>Puri</li>
			   </ul>
			 </div>
		  </div><!--row end-->
		    
		      <div class="row money-dashboard contacts-dashboard train-details">
		      
			   <div class="col col-50">
			   <h2>Puri Express</h2>
			     <ul>  
			        <li><i class="fa fa-clock-o"></i>09:15</li>
			         <li> <i class="fa fa-road"></i> Hyderabad</li>
			    </ul>
			 </div>
			 
			  <div class="col col-50">
			    <h2 class="transparent">.</h2>
			     <ul>
			      <li><i class="fa fa-clock-o"></i>18:05</li>
			       <li> <i class="fa fa-road"></i>Puri</li>
			   </ul>
			 </div>
			 
		  </div><!--row end-->

		   <div class="row money-dashboard contacts-dashboard train-details">
		         <div class="col col-50">
				    <h2>A1 Express</h2>
			       <ul>
			        <li><i class="fa fa-clock-o"></i>03:15</li>
			          <li> <i class="fa fa-road"></i>Hyderabad</li>
			      </ul>
			 </div>
			 
			  <div class="col col-50">
			   <h2 class="transparent">.</h2>
			     <ul>
			      <li><i class="fa fa-clock-o"></i>8:05</li>
			       <li> <i class="fa fa-road"></i>Puri</li>
			   </ul>
			 </div>
		  </div><!--row end-->
		  
		  <div class="row">
		     <div class="col col-50">
			  
			 </div><!--col-50 end-->
			 
			  <div class="col col-50">
			      <p class="powered-by">Powered by</p>
				  <div class="footer-logo"> <img src="img/icici-bank.png" /> </div>

			 </div><!--col-50 end-->
		  </div><!--row end-->
		  
        </ion-content>
      </ion-view>
</div>