<!DOCTYPE html>
<html ng-app="app">
<head>
	<script type="text/javascript" src="../libs/angular.js"></script>
	<script type="text/javascript" src="../libs/jquery-1.11.2.js"></script>
	<h3> Hotel entry form</h3>
</head>
<body ng-controller="guestHouseController" ng-init="init()">
	 Name : <input type="text" ng-model="guesthouse_name"><br/>
	Content : <textarea ng-model="content"></textarea> <br/>
	Address : <textarea ng-model="address"></textarea> <br/>
	Phone1 : <input type="number" ng-model="phone1" ng-valid><br/>
	Phone2 : <input type="number" ng-model="phone2" ng-valid><br/>
	Phone3 : <input type="number" ng-model="phone3" ng-valid><br/>
	mobile : <input type="number" ng-model="mobile" ng-valid><br/>
	<!-- Fax : <input type="number" ng-model="fax"><br/>
	mail : <input type="text" ng-model="mail"><br/> -->
	<!-- Reservation Authority : <input type="text" ng-model="reserv_auth"><br/> -->
	webSite : <input type="text" ng-model="webSite"><br/>
	category : <input type="number" ng-model="starCount"><br/>
	<!-- No of Rooms : <input type="number" ng-model="roomCount"><br/> -->
	icon image path : <input type="text" ng-model="iconImage"><br/>
	Home image path : <input type="text" ng-model="homeImage"><br/>
	Countries : 
	<select ng-model="country" ng-change="onSelectCountry(country)">
		<option ng-repeat="country in countries">{{country.CountryName}}</option>
	</select>
	States : 
	<select ng-model="state" ng-change="onStateSelect(state)">
		<option ng-repeat="state in states">{{state.StateName}}</option>
	</select>
	City : 
	<select ng-model="city">
		<option ng-repeat="city in cities">{{city.CityName}}</option>
	</select><br/>
	facilities : <br/>
	<ul>
		<li ng-repeat="facility in facilities">
			{{facility.facility}}: <input type="checkbox" ng-model="facility.check"><br/>
		</li>
	</ul><br/>
	<!-- Room facilities : <br/>
	<ul>
		<table>
			<tr>
				<td>Room type :</td>
				<td>No of rooms :</td>
				<td>Ep :</td>
				<td>AP :</td>
			</tr>
			<tr ng-repeat="room in roomFacilities">
				<td>{{room.room_type}}</td>
				<td><input type="text" value="{{room.NoOfRooms}}" ng-model="room.NoOfRooms"></td>
				<td><input type="text" value="{{room.PriceStarts}}" ng-model="room.PriceStarts"></td>
				<td><input type="text" value="{{room.PriceEnds}}" ng-model="room.PriceEnds"></td>
			</tr>

		</table>

	</ul><br/> -->

	<input type="button" value="submit" ng-click="onSubmit()" />
	<script type="text/javascript">
	var app = angular.module("app",[]);
	app.controller("guestHouseController",["$scope","$http",function($scope,$http) {
		$scope.facilities = [];
		//$scope.roomFacilities = [];
		$scope.countries = [];
		$scope.states = [];
		$scope.cities = [];
		$scope.apiPath = 'http://goappssolutions.com/Nabakalebara/app/php_project/api.php?';
		//$scope.apiPath = 'http://localhost/Nabakalebara/app/php_project/api1.php?';
		$scope.getFacilities =function()
		{
			var response =  $http.get($scope.apiPath+"reqmethod=getFacilities").then(function(pRes){
				for(i in pRes.data)
				{
					var obj = {};
					obj.id = pRes.data[i].id;
					obj.facility = pRes.data[i].facility;
					obj.check = false;
					$scope.facilities.push(obj);
				}
			});
		}
		// $scope.getHotelRoomDetails =function()
		// {
		// 	var response =  $http.get("http://localhost/-_-ff12ggUU_-_yyyykkk-hhasdfsaasaasaasaauuuu-/app/php project/api1.php?reqmethod=getHotelRoomDetails").then(function(pRes){
		// 		for(i in pRes.data)
		// 		{
		// 			var obj = {};
		// 			obj.id = pRes.data[i].id;
		// 			obj.room_type = pRes.data[i].room_type;
		// 			obj.NoOfRooms = pRes.data[i].NoOfRooms;
		// 			obj.PriceStarts = pRes.data[i].PriceStarts;
		// 			obj.PriceEnds = pRes.data[i].PriceEnds;
		// 			$scope.roomFacilities.push(obj);
		// 		}
		// 	});
		// }
		$scope.getCountry = function(){
			var response =  $http.get($scope.apiPath+"reqmethod=getCountries").then(function(pRes){
				for(i in pRes.data)
				{
					var obj = {};
					obj.id = pRes.data[i].id;
					obj.CountryName = pRes.data[i].CountryName;
					$scope.countries.push(obj);
				}
			});
		}
		$scope.onSelectCountry = function(pCountry){
			
			$scope.getStates(pCountry)
		}
		$scope.getStates = function(pCountry){
			var response =  $http.get($scope.apiPath+"reqmethod=getStates&country="+pCountry).then(function(pRes){
				for(i in pRes.data)
				{
					var obj = {};
					obj.StateID = pRes.data[i].StateID;
					obj.StateName = pRes.data[i].StateName;
					obj.CountryID = pRes.data[i].CountryID;
					$scope.states.push(obj);
				}
			});
		}
		$scope.onStateSelect = function(pState){
			$scope.getCities(pState);
			// console.log(pState);
		}
		$scope.getCities = function(pState){
			var response =  $http.get($scope.apiPath+"reqmethod=getCity&state="+pState).then(function(pRes){
				for(i in pRes.data)
				{
					var obj = {};
					obj.CityID = pRes.data[i].CityID;
					obj.CityName = pRes.data[i].CityName;
					$scope.cities.push(obj);
				}
			});
		}

		$scope.init = function(){
			$scope.getCountry();
			$scope.getStates('');
			$scope.getCities('');
			$scope.getFacilities();
			//$scope.getHotelRoomDetails();
		}
		$scope.onSubmit = function(){
			// console.log($scope.facilities);
			var guestHouseData = {};
			guestHouseData.name = $scope.guesthouse_name;
			guestHouseData.content = $scope.content;
			guestHouseData.address = $scope.address;
			guestHouseData.phone1 = $scope.phone1;
			guestHouseData.phone2 = $scope.phone2;
			guestHouseData.phone3 = $scope.phone3;
			guestHouseData.mobile = $scope.mobile;
			// guestHouseData.fax = $scope.fax;
			// guestHouseData.mail = $scope.mail;
			guestHouseData.webSite = $scope.webSite;
			//guestHouseData.reserv_auth = $scope.reserv_auth;
			guestHouseData.starCount = $scope.starCount;
			// guestHouseData.roomCount = $scope.roomCount;
			guestHouseData.country = $scope.country;
			guestHouseData.state = $scope.state;
			guestHouseData.city = $scope.city;
			guestHouseData.facilities = $scope.facilities;
			//hotelData.roomFacilities = $scope.roomFacilities;
			guestHouseData.iconImgPath = $scope.iconImage;
			guestHouseData.homeImgPath = $scope.homeImage;

			var _serializedData = $.param({reqmethod: 'postGuestHouseDetails', guestHouseData:guestHouseData});
            var _responsePromise = $http({
                    method: 'POST',
                    url: $scope.apiPath,
                    data: _serializedData,
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded'
                    }
            }).then(function(pRes){
            	console.log(pRes.data);
            });


		}
					

	}]);



	</script>



</body>
</html>