<!DOCTYPE html>
<html ng-app="">
<head>
	<script type="text/javascript" src="../libs/angular.js"></script>
</head>
<body>
	Hotel Name : <input type="text" ng-model="hotelName"><br/>
	Hotel Address : <textarea ng-model="h_add"></textarea> <br/>
	Hotel Phone1 : <input type="number" ng-model="phone1"><br/>
	Hotel Phone2 : <input type="number" ng-model="phone2"><br/>
	Hotel Phone3 : <input type="number" ng-model="phone3"><br/>
	Hotel mobile : <input type="number" ng-model="mobile"><br/>
	Hotel Fax : <input type="number" ng-model="fax"><br/>
	Hotel mail : <input type="text" ng-model="mail"><br/>
	Hotel webSite : <input type="text" ng-model="webSite"><br/>
	Hotel category : <input type="number" ng-model="webSite"><br/>
	City : 
	<select ng-model="city">
		<option>city</option>
		<option>city</option>
		<option>city</option>
		<option>city</option>
	</select>
	

</body>
</html>