<!DOCTYPE html>
<html ng-app="app">
<head>
	<script type="text/javascript" src="../libs/angular.js"></script>
	<h3> Hotel entry form</h3>
</head>
<body ng-controller="hotelController" ng-init="init()">
	Hotel Name : <input type="text" ng-model="hotelName"><br/>
	Hotel Address : <textarea ng-model="h_add"></textarea> <br/>
	Hotel Phone1 : <input type="number" ng-model="phone1"><br/>
	Hotel Phone2 : <input type="number" ng-model="phone2"><br/>
	Hotel Phone3 : <input type="number" ng-model="phone3"><br/>
	Hotel mobile : <input type="number" ng-model="mobile"><br/>
	Hotel Fax : <input type="number" ng-model="fax"><br/>
	Hotel mail : <input type="text" ng-model="mail"><br/>
	Hotel webSite : <input type="text" ng-model="webSite"><br/>
	Hotel category : <input type="number" ng-model="starCount"><br/>
	No of Rooms : <input type="number" ng-model="roomCount"><br/>
	icon image path : <input type="number" ng-model="iconImage"><br/>
	Home image path : <input type="number" ng-model="homeImage"><br/>
	Countries : 
	<select ng-model="country">
		<option ng-repeat="country in countries">{{country.CountryName}}</option>
	</select>
	States : 
	<select ng-model="state">
		<option ng-repeat="state in states">{{state.StateName}}</option>
	</select>
	City : 
	<select ng-model="city">
		<option ng-repeat="city in cities">{{city.CityName}}</option>
	</select><br/>
	facilities : <br/>
	<ul>
		<li ng-repeat="facility in facilities">
			{{facility.facility}}: <input type="checkbox" ng-model="facility.check"><br/>
		</li>
	</ul><br/>
	Room facilities : <br/>
	<ul>
		<table>
			<tr>
				<td>Room type :</td>
				<td>No of rooms :</td>
				<td>Ep :</td>
				<td>AP :</td>
			</tr>
			<tr ng-repeat="room in roomFacilities">
				<td>{{room.room_type}}</td>
				<td><input type="text" value="{{room.NoOfRooms}}" ng-model="room.NoOfRooms"></td>
				<td><input type="text" value="{{room.PriceStarts}}" ng-model="room.PriceStarts"></td>
				<td><input type="text" value="{{room.PriceEnds}}" ng-model="room.PriceEnds"></td>
			</tr>

		</table>

	</ul><br/>

	<input type="button" value="submit" ng-click="onSubmit()" />
	<script type="text/javascript">
	var app = angular.module("app",[]);
	app.controller("hotelController",["$scope","$http",function($scope,$http) {
		$scope.facilities = [];
		$scope.roomFacilities = [];
		$scope.countries = [];
		$scope.states = [];
		$scope.cities = [];

		$scope.getFacilities =function()
		{
			var response =  $http.get("http://localhost/-_-ff12ggUU_-_yyyykkk-hhasdfsaasaasaasaauuuu-/app/php project/api1.php?reqmethod=getFacilities").then(function(pRes){
				for(i in pRes.data)
				{
					var obj = {};
					obj.id = pRes.data[i].id;
					obj.facility = pRes.data[i].facility;
					obj.check = false;
					$scope.facilities.push(obj);
				}
			});
		}
		$scope.getHotelRoomDetails =function()
		{
			var response =  $http.get("http://localhost/-_-ff12ggUU_-_yyyykkk-hhasdfsaasaasaasaauuuu-/app/php project/api1.php?reqmethod=getHotelRoomDetails").then(function(pRes){
				for(i in pRes.data)
				{
					var obj = {};
					obj.id = pRes.data[i].id;
					obj.room_type = pRes.data[i].room_type;
					obj.NoOfRooms = pRes.data[i].NoOfRooms;
					obj.PriceStarts = pRes.data[i].PriceStarts;
					obj.PriceEnds = pRes.data[i].PriceEnds;
					$scope.roomFacilities.push(obj);
				}
			});
		}
		$scope.getCountry = function(){
			var response =  $http.get("http://localhost/-_-ff12ggUU_-_yyyykkk-hhasdfsaasaasaasaauuuu-/app/php project/api1.php?reqmethod=getCountries").then(function(pRes){
				for(i in pRes.data)
				{
					var obj = {};
					obj.id = pRes.data[i].id;
					obj.CountryName = pRes.data[i].CountryName;
					$scope.countries.push(obj);
				}
			});
		}
		$scope.getStates = function(){
			var response =  $http.get("http://localhost/-_-ff12ggUU_-_yyyykkk-hhasdfsaasaasaasaauuuu-/app/php project/api1.php?reqmethod=getStates").then(function(pRes){
				for(i in pRes.data)
				{
					var obj = {};
					obj.StateID = pRes.data[i].StateID;
					obj.StateName = pRes.data[i].StateName;
					obj.CountryID = pRes.data[i].CountryID;
					$scope.states.push(obj);
				}
			});
		}
		$scope.getCities = function(){
			var response =  $http.get("http://localhost/-_-ff12ggUU_-_yyyykkk-hhasdfsaasaasaasaauuuu-/app/php project/api1.php?reqmethod=getCity").then(function(pRes){
				for(i in pRes.data)
				{
					var obj = {};
					obj.CityID = pRes.data[i].CityID;
					obj.CityName = pRes.data[i].CityName;
					$scope.cities.push(obj);
				}
			});
		}

		$scope.init = function(){
			$scope.getCountry();
			$scope.getStates();
			$scope.getCities();
			$scope.getFacilities();
			$scope.getHotelRoomDetails();
		}
		$scope.onSubmit = function(){
			// console.log($scope.facilities);
			console.log($scope.country) //country
			console.log($scope.state) //state
			console.log($scope.city) //city
			console.log($scope.roomFacilities) //roomFacilities
			console.log($scope.facilities) //facilities
		}

	}]);



	</script>



</body>
</html>