<!DOCTYPE html>
<html ng-app="app">
<head>
	<script type="text/javascript" src="../libs/angular.js"></script>
	<script type="text/javascript" src="../libs/jquery-1.11.2.js"></script>
	<h3> Hotel entry form</h3>
</head>
<body ng-controller="parkingController" ng-init="init()">
	 
	<table>
		<tr>
			<td>
				Vehicle Type:
			</td>
			<td>
				Content:
			</td>
			<td>
				Address:
			</td>
			
		</tr>
		<tr>
			<td>
				<label>Two Wheeler Parking</label>
			</td>
			<td>
				<input type="text" ng-model="twoWhContent"></input>
			</td>
			<td>
				<input type="text" ng-model="twoWhAddress"></input>
			</td>
		</tr>

		<tr>
			<td>
				<label>Four Wheeler Parking</label>
			</td>
			<td>
				<input type="text" ng-model="fourWhContent"></input>
			</td>
			<td>
				<input type="text" ng-model="fourWhAddress"></input>
			</td>
		</tr>

		<tr>
			<td>
				<label>Bus Parking</label>
			</td>
			<td>
				<input type="text" ng-model="busContent"></input>
			</td>
			<td>
				<input type="text" ng-model="busAddress"></input>
			</td>
		</tr>

		<tr>
			<td>
				<label>Tourists Bus Parking</label>
			</td>
			<td>
				<input type="text" ng-model="touristBusContent"></input>
			</td>
			<td>
				<input type="text" ng-model="touristBusAddress"></input>
			</td>
		</tr>
	</table>


	Countries : 
	<select ng-model="country" ng-change="onSelectCountry(country)">
		<option ng-repeat="country in countries">{{country.CountryName}}</option>
	</select>
	States : 
	<select ng-model="state" ng-change="onStateSelect(state)">
		<option ng-repeat="state in states">{{state.StateName}}</option>
	</select>
	City : 
	<select ng-model="city">
		<option ng-repeat="city in cities">{{city.CityName}}</option>
	</select><br/>
	
	

	<input type="button" value="submit" ng-click="onSubmit()" />
	<script type="text/javascript">
	var app = angular.module("app",[]);
	app.controller("parkingController",["$scope","$http",function($scope,$http) {
		
		$scope.countries = [];
		$scope.states = [];
		$scope.cities = [];
		$scope.serviceApiPath = 'http://goappssolutions.com/Nabakalebara/app/php_project/api.php?';
		//$scope.serviceApiPath = 'http://localhost/Nabakalebara/app/php_project/api1.php?';
		
		
		$scope.getCountry = function(){
			var response =  $http.get($scope.serviceApiPath+"reqmethod=getCountries").then(function(pRes){
				for(i in pRes.data)
				{
					var obj = {};
					obj.id = pRes.data[i].id;
					obj.CountryName = pRes.data[i].CountryName;
					$scope.countries.push(obj);
				}
			});
		}
		$scope.onSelectCountry = function(pCountry){
			
			$scope.getStates(pCountry)
		}
		$scope.getStates = function(pCountry){
			var response =  $http.get($scope.serviceApiPath+"reqmethod=getStates&country="+pCountry).then(function(pRes){
				for(i in pRes.data)
				{
					var obj = {};
					obj.StateID = pRes.data[i].StateID;
					obj.StateName = pRes.data[i].StateName;
					obj.CountryID = pRes.data[i].CountryID;
					$scope.states.push(obj);
				}
			});
		}
		$scope.onStateSelect = function(pState){
			$scope.getCities(pState);
			// console.log(pState);
		}
		$scope.getCities = function(pState){
			var response =  $http.get($scope.serviceApiPath+"reqmethod=getCity&state="+pState).then(function(pRes){
				for(i in pRes.data)
				{
					var obj = {};
					obj.CityID = pRes.data[i].CityID;
					obj.CityName = pRes.data[i].CityName;
					$scope.cities.push(obj);
				}
			});
		}

		$scope.init = function(){
			$scope.getCountry();
			$scope.getStates('');
			$scope.getCities('');
			
		}
		$scope.onSubmit = function(){
			// console.log($scope.facilities);
			var parkingArr = [];
			parkingArr.push({vehicle_name:"Two Wheeler Parking" , content:$scope.twoWhContent,address:$scope.twoWhAddress});
			parkingArr.push({vehicle_name:"Four Wheeler Parking" , content:$scope.fourWhContent,address:$scope.fourWhAddress});
			parkingArr.push({vehicle_name:"Bus Parking" , content:$scope.busContent,address:$scope.busAddress});
			parkingArr.push({vehicle_name:"Tourists Bus Parking" , content:$scope.touristBusContent,address:$scope.touristBusAddress});
			
			console.log(parkingArr);
			var _serializedData = $.param({reqmethod: 'postParkingDetails',parkingArr:parkingArr});
            var _responsePromise = $http({
                    method: 'POST',
                    url: $scope.serviceApiPath,
                    data: _serializedData,
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded'
                    }
            }).then(function(pRes){
            	console.log(pRes.data);
            });


		}
					

	}]);



	</script>



</body>
</html>