<div ng-init="getSelectedHotel()">
	
	<!-- <ng-include src="'modules/home/views/partials/sideMenu.html'" class="wrapper block"></ng-include> -->

	<ion-view class="pane">
        <ion-content class="has-header">
		  <div class="row hotel-inner">
		    <div class="col col-100">
			   <div class="event-image">
			       <img src="{{selectedHotel.homeImg}}" />
			  </div><!--div-->
			  </div>
		     </div><!--row end-->
			  
			<div class="row hotel-inner hotel-margin">
			   <div class="col col-25">
			    <div class="hotel-about about">
			     <h2> About</h2>
				 </div><!--hotel-about end-->
			   </div><!--col-40 end-->
			    <div class="col col-25">
				 <div class="call-about">
				   <h2> <a href="tel:{{selectedHotel.stdCode}}{{selectedHotel.phone1}}"> <i class="fa fa-phone"></i> Call </a> </h2>
				  </div><!--call-about end-->
			   </div><!--col-40 end-->
			    <div class="col col-25">
				<div class="email-about" ng-click="showEmail()">
				  <h2> <a href=""> <i class="fa fa-paper-plane"></i> Email </a> </h2>
				  </div><!--call-about end-->
			   </div><!--col-40 end-->
			    <div class="col col-25">
			      <div class="map-about" ng-click="viewOnMap(selectedHotel.address)">
				  <h2>	<a href=""> <i class="fa fa-map-marker"></i> Map </a> </h2>
				  </div>
			   </div><!--col-40 end-->
			</div><!--row end-->

			<ng-include src="'modules/stay/views/partials/hotel-email-query.html'" ng-show="emailVisible">
		    </ng-include>
		     <div class="row facilities-hotel">
			   <div class="col col-70">
			      <h2>{{selectedHotel.hotelName}}</h2>
			   </div><!--col-50 end-->
			   <div class="col col-25">
			     <div class="rating"> 
			     	<i class="{{star}}" ng-repeat="star in createArr(selectedHotel.category) track by $index">
			     	</i>
			     </div>
			   </div><!--col-50 end-->
			 </div><!--row end-->
			 <div class="row facilities-hotel">
			    <p>
 					{{selectedHotel.content}}
				</p>
			 </div>
				 <div class="row facilities-hotel">
					   <div class="col col-60">
							<ul> 
								 <li class="hf-heading">Number of Rooms/ Beds.</li>
								  <li ng-repeat="rooms in selectedHotel.roomDetails" ng-if="rooms.NoOfRooms > 0 ">{{rooms.room_type}}<span>:{{rooms.NoOfRooms}}</span></li>
							</ul>
					   </div><!--col-50 end-->
					   	 
					   <div class="col col-20">
					       <ul>
							 <li class="hf-heading">Price start</li>
							 <li ng-repeat="rooms in selectedHotel.roomDetails" ng-if="rooms.PriceStarts > 0 ">{{rooms.PriceStarts}}</li>
							 
				          </ul>
					   </div><!--col-50 end-->
					    <div class="col col-20">
					       <ul>
							 <li class="hf-heading">Price End</li>
							 <li ng-repeat="rooms in selectedHotel.roomDetails" ng-if="rooms.PriceEnds > 0 ">{{rooms.PriceEnds}}</li>
				          </ul>
					   </div><!--col-50 end-->
				 </div><!--facilities-hotel end-->
		
			   <!-- <div class="row facilities-hotel">
		          <div class="col col-90">
			        <h2 class="hf-heading">Conference hall(Capacity and rent if available) with A.C and Non A.c</h2>
					  <ul>
					    <li>CH:4(A/C)</li>
						<li>Capacity:100 #####</li>
						<li>Rent:100 ###</li>
					 </ul>
			      </div>
				  <div class="col col-10">
			      </div>
			 </div> -->			 
			 
			   <div class="row facilities-hotel">
		          <div class="col col-90">
			        <h2 class="hf-heading">Facilities Available</h2>
					  <ul>
					    <li>{{selectedHotel.facilitites.toString()}}</li>
						
					 </ul>
			      </div><!--col-50 end-->
				  <div class="col col-10">
			  
			      </div><!--col-50 end-->
			 </div><!--row end-->
			 
			   <div class="row facilities-hotel">
		          <div class="col col-90">
			        <h2 class="hf-heading">Reservation Authority</h2>
					  <ul>
					    <li>{{selectedHotel.reservationAuthority}}</li>
					 </ul>
			      </div><!--col-50 end-->
				  <div class="col col-10">
			  
			      </div><!--col-50 end-->
			 </div><!--row end-->
			 
			 <div class="row facilities-hotel">
		          <div class="col col-90">
			        <h2 class="hf-heading">Contacts</h2>
					  <ul>
					    <li>{{selectedHotel.hotelName}}</li>
						<li >
							Ph:<span ng-if="selectedHotel.stdCode!= 'No Data Available'"> ({{selectedHotel.stdCode}}) </span> 
							<span ng-if="selectedHotel.phone1!= 'No Data Available'"> {{selectedHotel.phone1}} ,</span>
							<span ng-if="selectedHotel.phone2!= 'No Data Available'"> {{selectedHotel.phone2}} ,</span>
							<span ng-if="selectedHotel.phone3!= 'No Data Available'"> {{selectedHotel.phone3}} ,</span>
						</li>
						<li>Fax:{{selectedHotel.fax}}</li>
					 </ul>
			      </div><!--col-50 end-->
				  <div class="col col-10">
			  
			      </div><!--col-50 end-->
			 </div><!--row end-->
			 
		  <div class="row">
		     <div class="col col-50">
			  
			 </div><!--col-50 end-->
			 
			  <div class="col col-50">
			      <p class="powered-by">Powered by</p>
				  <div class="footer-logo"> <img src="img/icici-bank.png" /> </div>

			 </div><!--col-50 end-->
		  </div><!--row end-->
		  
        </ion-content>
      </ion-view>

</div>