<div class="stay_lower">
      <ion-view class="pane">
        <ion-content class="has-header">
		 <div class="row money-dashboard stay" ng-repeat="option in stayOptionList">
		     <a ng-click="routeSubView(option.contentUrl)"  class="col col-25" >
			   <div>
			       <img height ="50px" width="50px" src="{{option.iconImgPath}}" />
			    </div><!--col-33 ned-->
			 </a>
			  
			 <a ng-click="routeSubView(option.contentUrl)"  class="col col-70" > 
			   <div>
			      <h2 class="stay">{{option.label}}</h2>
			   </div><!--col-50 end-->
			 </a>
			   
		  </div><!--row end-->
		  </ion-content>
      </ion-view>
   </div>