<ion-view class="pane">
        <ion-content class="has-header">
		  <div class="row money-dashboard contacts-dashboard about-nabakalebara">
			   <div>
			      <h1>About Nabakalebara</h1>
				  <p>
				  The term Nabakalebara (Oriya: ନବ କଳେବର, Sanskrit: नवकलेवर) is an ancient ritual associated with most of the Jagannath Temples when the Idols of Lord Jagannath, Balabhadra, Subhadra and Sudarshan are replaced by a new set of Idols</p>
				  <p>A year (Adhika masa) of Ashadha as Hindu Calendar is auspicious for conducting the ceremony. This usually occurs every twelve to nineteen years. The Deities are made from a special type of Neem wood known as Daru Bramha. Preparations for the ceremony start in the month of Chaitra. Last ceremony was done in the year 1996.</p>
			  </div>
		</div><!--row end-->
		 <div class="row money-dashboard contacts-dashboard about-nabakalebara">
			  <div class="col col-100 nabakalebara-img">
			     <img src="img/nabakalebara.jpg" />
			  </div><!--col-40 end-->
		</div><!--row end-->
		
		 <div class="row money-dashboard contacts-dashboard about-nabakalebara">
		 <p>No ordinary Neem tree can be used to make the deities . Certain well defined criteria must be satisfied by the tree before it is labelled a Daru Bramha fit for deities making Locating the four holy trees requires divine intervention. As per long-standing tradition the Priests of the Jagannath Temple (Puri) worship Maa Mangala at the Kakatpur Mangala Temple. It is said the Goddess appears to them in their dreams revealing the location of the holy trees.  <a href="http://en.wikipedia.org/wiki/Nabakalebara">  Read More...</a>	</p>	   
		 </div><!--about-nabakalebara end-->
		  <div class="row">
		     <div class="col col-50">
			  </div><!--col-50 end-->
			   <div class="col col-50">
			      <p class="powered-by">Powered by</p>
				  <div class="footer-logo"> <div class="footer-logo"> <img src="img/icici-bank.png" /> </div>
 </div>

			  </div><!--col-50 end-->
		  </div><!--row end-->
        </ion-content>
      </ion-view>