<div>
      <ion-view class="pane">
        <ion-content class="has-header">
		  <a href="#template-schedule" class="row money-dashboard about-nabakalebara about-nabakalebara-submenu">
			  <div class="col col-25">
			   <i class="fa fa-calendar"></i>
			  </div><!--col-25 end-->
			   <div class="col col-70">
			    <h2> Temple Schedule</h2>
			  </div><!--col-70 end-->
		</a><!--row end-->
		
		  <a href="#about-nabakalebara" class="row money-dashboard about-nabakalebara about-nabakalebara-submenu">
			  <div class="col col-25">
			   <i class="fa fa-file-text"></i>
			  </div><!--col-25 end-->
			   <div class="col col-70">
			    <h2>  About Nabakalebara</h2>
			  </div><!--col-70 end-->
		</a><!--row end-->
		
		  <div class="row">
		     <div class="col col-50">
			  </div><!--col-50 end-->
			   <div class="col col-50">
			      <p class="powered-by">Powered by</p>
				  <div class="footer-logo"> <img src="img/icici-bank.png" /> </div>

			  </div><!--col-50 end-->
		  </div><!--row end-->
        </ion-content>
      </ion-view>
   </div>