<ng-include src="'modules/home/views/partials/sideMenu.html'" class="wrapper block"></ng-include>
<div>
<ion-view class="pane">
        <ion-content>
		  <div class="row money-dashboard contacts-dashboard about-nabakalebara">
			   <div>
			      <h1>About Nabakalebara</h1>
				  <p> 
Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>
<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
			  </div>
		</div><!--row end-->
		 <div class="row money-dashboard contacts-dashboard about-nabakalebara">
			  <div class="col col-100 nabakalebara-img">
			     <img src="img/nabakalebara.jpg" />
			  </div><!--col-40 end-->
		</div><!--row end-->
		
		 <div class="row money-dashboard contacts-dashboard about-nabakalebara">
		 <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>
		   
		 </div><!--about-nabakalebara end-->
		  <div class="row">
		     <div class="col col-50">
			  </div><!--col-50 end-->
			   <div class="col col-50">
			      <p class="powered-by">Powered by</p>
				  <div class="footer-logo"> <div class="footer-logo"> <img src="img/icici-bank.png" /> </div>
 </div>

			  </div><!--col-50 end-->
		  </div><!--row end-->
        </ion-content>
      </ion-view>
</div>