<ng-include src="'modules/home/views/partials/sideMenu.html'" class="wrapper block"></ng-include>
<div>
	<ion-view class="pane">
	        <ion-content>
			 <div class="row money-dashboard  temple-schedule">
			   <div class="col col-100">
			    <form class="item item-input list list-inset ng-pristine ng-valid">
				 <label class="item item-input input-date">
	               <span class="input-label"> <i class="fa fa-calendar"></i> </span>
				    <input type="date" />
				  </label>
				</form>
			 </div><!--col col-100 end-->
			 </div><!--row end-->
			  <div class="row money-dashboard contacts-dashboard temple-schedule">
				 <div class="col col-100"> 
				   <div>
				      <h2>Schedule Name</h2>
					  <p class="schedule-time"><i class="fa fa-calendar"></i>  Tue 24 Feb. </p>
					  <p class="schedule-time"><i class="fa fa-clock-o"></i>  11:30 A.M to 02:30P.M</p>
					  
	<p class="schedule-desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
				   </div><!--col-50 end-->
				 </div>
			  </div><!--row end-->
			  
			 <div class="row money-dashboard contacts-dashboard temple-schedule">
				 <div class="col col-100"> 
				   <div>
				      <h2>Schedule Name</h2>
					  <p class="schedule-time"><i class="fa fa-calendar"></i>  Tue 24 Feb. </p>
					  <p class="schedule-time"><i class="fa fa-clock-o"></i>  11:30 A.M to 02:30P.M</p>
					  
	<p class="schedule-desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
				   </div><!--col-50 end-->
				 </div>
			  </div><!--row end-->
			  
			   <div class="row money-dashboard contacts-dashboard temple-schedule">
				 <div class="col col-100"> 
				   <div>
				      <h2>Schedule Name</h2>
					  <p class="schedule-time"><i class="fa fa-calendar"></i>  Tue 24 Feb. </p>
					  <p class="schedule-time"><i class="fa fa-clock-o"></i>  11:30 A.M to 02:30P.M</p>
					  
	<p class="schedule-desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>


				   </div><!--col-50 end-->
				 </div>
			  </div><!--row end-->
			
			  <div class="row">
			     <div class="col col-50">
				  
				 </div><!--col-50 end-->
				 
				  <div class="col col-50">
				      <p class="powered-by">Powered by</p>
					  <div class="footer-logo"> <img src="img/icici-bank.png" /> </div>

				 </div><!--col-50 end-->
			  </div><!--row end-->
			  
	        </ion-content>
	      </ion-view>
	    </div>
