<ng-include src="'modules/home/views/partials/sideMenu.html'" class="wrapper block"></ng-include>
<div>
	<ion-view class="pane">
	        <ion-content>
			 <div class="row money-dashboard  temple-schedule">
			   <div class="col col-100">
			   <!-- <select><option ng-repeat="day in days" ng-click='getTempleSchedule()' ng-model="day" value="{{day}}">{{day}}</option></select> -->
			    <form class="item item-input list list-inset ng-pristine ng-valid">
				 <label class="item item-input input-date">
	               <!-- <span class="input-label"> <i class="fa fa-calendar"></i> </span>
				    <input type="date" ng-model='date' ng-change='fetchSchedule(date)'/> -->
				    <select ng-model="day" ng-change='getTempleSchedule(day)'><option ng-repeat="day in days" value="{{day}}">{{day}}</option></select>
				  </label>
				  <!-- <select><option ng-repeat="day in days" ng-select='getTempleSchedule()' ng-model="day" value="{{day}}">{{day}}</option></select> -->
				</form>
				<!-- <button ng-click='fetchSchedule(date)'></button> -->
			 </div><!--col col-100 end-->
			 </div><!--row end-->
			  <div class="row money-dashboard contacts-dashboard temple-schedule" ng-repeat="schedule in templeScheduleList">
				 <div class="col col-100"> 
				   <div>
				      <h2>{{schedule.schedule_name}}</h2>
					  <p class="schedule-time"><i class="fa fa-calendar"></i>{{schedule.day}}</p>
					  <p class="schedule-time"><i class="fa fa-clock-o"></i> {{schedule.start_time}} to {{schedule.end_time}}</p>
					  
	<p class="schedule-desc">{{schedule.schedule_content}} </p>
				   </div><!--col-50 end-->
				 </div>
			  </div><!--row end-->
			  <div class="row">
			     <div class="col col-50">
				  
				 </div><!--col-50 end-->
				 
				  <div class="col col-50">
				      <p class="powered-by">Powered by</p>
					  <div class="footer-logo"> <img src="img/icici-bank.png" /> </div>

				 </div><!--col-50 end-->
			  </div><!--row end-->
			  
	        </ion-content>
	      </ion-view>
	    </div>
