<div >
<ion-view class="pane">
        <ion-content>
		
		 <div class="row  top-margin">
     	   <div class="col col-50">
		    <!-- <p class="map-start"> Start </p>-->
		    <form class="item item-input list list-inset">
			 <i class="icon ion-search placeholder-icon"></i>
			  <input type="text" placeholder="Starting" />
			</form>
		   </div><!--col-50 end-->
		   
		   <div class="col col-50">
		    <!-- <p class="map-start"> Stop </p>-->
		    <form class="item item-input list list-inset">
			 <i class="icon ion-search placeholder-icon"></i>
			  <input type="text" placeholder="Destination" />
			</form>
		   </div><!--col-50 end-->
		  </div><!--row end-->
		 
		  <div class="row money-dashboard contacts-dashboard">
		     <div class="col col-100">
			    <div id="map-canvas" style="width: 100%; float:left">
			    	
		  		</div>
			 </div>
		  </div><!--row end-->
		  
		  <div class="row">
		     <div class="col col-50">
			 </div><!--col-50 end-->
			  <div class="col col-50">
			      <p class="powered-by">Powered by</p>
				  <div class="footer-logo"> <img src="img/icici-bank.png" /> </div>

			 </div><!--col-50 end-->
		  </div><!--row end-->
		  
        </ion-content>
      </ion-view>
     </div>