<!DOCTYPE html>
<html ng-app="app">
<head>
	<script type="text/javascript" src="../libs/angular.js"></script>
	<script type="text/javascript" src="../libs/jquery-1.11.2.js"></script>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<h3> Hotel entry form</h3>
</head>
<body ng-controller="stateController" ng-init="init()">
	<div id="preloader" ng-show="showPreLoader"></div>
	Countries : 
	<select ng-model="country" ng-change="onSelectCountry(country)">
		<option ng-repeat="country in countries">{{country.CountryName}}</option>
	</select>
	States : <input type="text" ng-model="state"></input>
	
	
	

	<input type="button" value="submit" ng-click="onSubmit()" />
	<script type="text/javascript">
	var app = angular.module("app",[]);
	app.controller("stateController",["$scope","$http",function($scope,$http) {
		$scope.showPreLoader = false;
		$scope.countries = [];
		$scope.selectedCountry = '';
		$scope.state = '';
		$scope.apiPath = 'http://goappssolutions.com/Nabakalebara/app/php_project/api.php?';
		// $scope.apiPath = 'http://localhost/Nabakalebara/app/php_project/api1.php?';
		
		
		$scope.getCountry = function(){
			$scope.countries = [];
			var response =  $http.get($scope.apiPath+"reqmethod=getCountries").then(function(pRes){
				for(i in pRes.data)
				{
					var obj = {};
					obj.id = pRes.data[i].id;
					obj.CountryName = pRes.data[i].CountryName;
					$scope.countries.push(obj);
				}
			});
		}
		$scope.onSelectCountry = function(pCountry){
			
			$scope.selectedCountry = pCountry;
		}
		$scope.init = function(){
			$scope.getCountry();
		}
		$scope.onSubmit = function(){
			// console.log($scope.facilities);
			$scope.showPreLoader = true;
			var stateData = {};
			
			// tempAccData.content = $scope.content;
			stateData.CountryName = $scope.selectedCountry;
			stateData.state = $scope.state.trim();
			//console.log(stateData);
			var _serializedData = $.param({reqmethod: 'postState',stateData:stateData});
            var _responsePromise = $http({
                    method: 'POST',
                    url: $scope.apiPath,
                    data: _serializedData,
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded'
                    }
            }).then(function(pRes){
            	alert(pRes.data.data);
            	$scope.showPreLoader = false;
            });


		}
					

	}]);



	</script>



</body>
</html>